<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
      <br>
      <h2>This Is Practice Assignment3</h2>
      <br>
      <button class="btn btn-primary" (click)="btnClicked()">Display Detail</button>
      <div *ngIf="toggle">
        <p 
          *ngIf="psswd!=''; else noPsswd"
         >Secret Password is {{psswd}}
       </p>
         <ng-template #noPsswd>
           <p>No Password Is set</p>
        </ng-template>
      </div>
      <br>
      <li *ngFor="let k of timeEntry" 
        [ngStyle]="{'background-color':i>=5?'grey':'white'}"
        [ngClass]="{yeah:i>=5}"
        >{{smthing()}}</li>
    </div>
  </div>
</div>
